
# autoconf cruft
Makefile
autom4te.cache/
config.log
config.status
configure
scripts/bash_completion
scripts/cron
scripts/logrotate
src/bin/clicraft
src/etc/clicraft-defaults.conf
src/etc/clicraft-starmade.conf
src/lib/defaults.sh

# distro build artifacts
clicraft-[0-9]*
clicraft_[0-9]*.deb
clicraft_[0-9]*.tar.gz
clicraft_[0-9]*.dsc
clicraft_[0-9]*.changes
dist/rpmbuild
dist/arch/[0-9].[0-9].[0-9]
dist/arch/[0-9].[0-9].[0-9][0-9]
dist/arch/clicraft-*.pkg.tar.xz
dist/arch/clicraft-*.src.tar.gz
dist/arch/pkg/
dist/arch/src/

# doc build artifacts
README.html
doc/*.[15]
doc/*.html

# from ctags
tags

# vi/vim swap files
.*.swp

# personal todo lists
TODO

