
# autoconf cruft
Makefile
autom4te.cache/
config.log
config.status
configure
scripts/bash_completion
src/bin/clicraft
src/etc/clicraft-defaults.conf
src/lib/defaults.sh

# distro build artifacts
clicraft_*.deb
dist/arch/[0-9].[0-9].[0-9]
dist/arch/[0-9].[0-9].[0-9][0-9]
dist/arch/clicraft-*.pkg.tar.xz
dist/arch/clicraft-*.src.tar.gz
dist/arch/pkg/
dist/arch/src/
dist/deb/DEBIAN/conffiles
dist/deb/etc
dist/deb/usr
dist/deb/var

# doc build artifacts
README.html
doc/clicraft.1
doc/clicraft.1.html
doc/clicraft.conf.5
doc/clicraft.conf.5.html

# from ctags
tags

