#!bash
#
# Usage: clicraft backup
#
#    Backs up the world folder to backups/<world>-<date>-<time>.zip
#

BACKUP_DIR="$SERVER_DIR/backups"
WORLD=$(serverprop 'level-name')
DATE=$(date +%Y%m%d-%H%M%S)

cd "$SERVER_DIR"
mkdir -p "$BACKUP_DIR"

if status; then
	save-off
	save-all
fi

zip -r "$BACKUP_DIR/$WORLD-$DATE.zip" "$WORLD"

if status; then
	save-on
fi

